@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.emailItems{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20vh;

}
.joinCult {
    font-size: 1.75rem;
    display: flex;
    font-family: "Roboto Mono", monospace;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
/*     margin-top: 2rem; */

}

input {
    background-color: black;
    color: white;
    
}

input::placeholder {
    color: white; /* Placeholder text color */
    font-family: "Roboto Mono", monospace;

  }

input, button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

button {
    font-family: "Roboto Mono", monospace;
    background-color: black;
    color: white;
}

@media screen and (max-width: 545px) {
/*     .container {
        display: flex;
        width: 100%;
        height: 100vh;
    } */
    .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        margin-top: 2rem;
    }

    .emailItems{
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 20vh;
    
    }
    
  }